.dayof {
  background: $white;
  min-height: 80vh;

}

.dayof-content {
  width: 90%;
  margin: 45px auto;
  text-align: center;
}

.dayof-column {
  margin-top: 35px;
  text-align: left;
  padding : {
    top: 20px;
    bottom: 20px;
    right: 20px;
  }
}

.dayof-headline {
  text-transform: uppercase;
}

.dayof-headline-alt {
  color: $primary-purple;
  margin-top: 20px;
}

.dayof-body {
  color: $primary-grey;
}

@include media-query(tablet-and-up) {
  .dayof-column {
    padding-left: 35px;
    &:first-of-type {
      border-right: 2px solid $primary-purple;
      text-align: right;
      padding-right: 35px;
    }
  }
}
