.main {
  background: url("../img/main.jpg") no-repeat bottom center;
  background-size: cover;
}

nav.main-nav {
  text-align: center;
  padding-top: 5px;

  button {
    background: none;
    border: none;
    text-transform: uppercase;
    color: $white;
    &:not(first-child):not(last-child) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.main-content {
  width: 100%;
}

.main-title {
  letter-spacing: 14px;
  text-align: center;

}

.main-subtitle {
  padding-top: 12px;
  text-align: center;
  letter-spacing: 8px;
  line-height: 28px;
}

.main-button {
  position: absolute;
  bottom: 25px;
  left: 40px;
  color: rgba(265, 265, 265, 0.8);
}

@include media-query(tablet-and-up) {

  .main {
    background: linear-gradient(
                    rgba(0, 65, 90, 0.2),
                    rgba(0, 65, 90, 0.2)
    ), url("../img/main.jpg") no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .main-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}