.wedding-party.section {
  background: $secondary-purple;
  padding-left: 0;
  padding-right: 0;
}

.wedding-party-container {
  text-align: center;

  h2 {
    color: $primary-purple;
  }
}

.person-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.person-photo {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-position: center center;
}

.ivon .person-photo {
  background: url("../img/party/ivon.jpg");
}

.roxana .person-photo {
  background: url("../img/party/ivon.jpg");
}

.carly .person-photo {
  background: url("../img/party/carly.jpg");
}

.helen .person-photo {
  background: url("../img/party/helen.jpg");
}

.kevin .person-photo {
  background: url("../img/party/kevin.jpg");
}

.calvin .person-photo {
  background: url("../img/party/calvin.jpg");
}

.raymond .person-photo {
  background: url("../img/party/ray.jpg");
}

.simon .person-photo {
  background: url("../img/party/simon.jpg");
}

.bernie .person-photo {
  background: url("../img/party/bernie.jpg");
}


@include media-query(tablet-and-up) {

  .wedding-party {
    padding: 30px;
  }

}