.wedding-party.section {
  background: $secondary-purple;
  padding-left: 0;
  padding-right: 0;
}

.wedding-party-container {
  text-align: center;

  h2 {
    color: $primary-purple;
  }
}

.person-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.person-photo {
  margin-left: auto;
  margin-right: auto;
  height: 125px;
  width: 125px;
  background: blue;
  border-radius: 50%;
}

@include media-query(tablet-and-up) {

  .wedding-party {
    padding: 30px;
  }

  .person-photo {
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    background: blue;
    border-radius: 50%;
  }
}