.button {
  background: transparent;
  border: 2px solid;
  padding: 5px 20px;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

a.button {
  &:visited {
    text-decoration: none;
    color: $secondary-purple;
  }
}