
<div class="section main">

    <nav class="main-nav">
        <button class="body-16px" du-smooth-scroll href="#about">About</button>
        <button class="body-16px" du-smooth-scroll href="#gallery">Gallery</button>
        <button class="body-16px" du-smooth-scroll href="#wedding-party">Wedding Party</button>
        <button class="body-16px" du-smooth-scroll href="#dayof">The Day Of</button>
        <button class="body-16px" du-smooth-scroll href="#rsvp">RSVP</button>
    </nav>

    <section class="main-content">
        <h1 class="headline-48px main-title opaque-white">Iris + Russell</h1>
        <h3 class="headline-21px main-subtitle secondary-purple">Saturday May 13, 2017 . 5:30 PM</h3>
        <h3 class="headline-21px main-subtitle secondary-purple">Sassafraz</h3>
    </section>

    <button ng-click="showRsvpForm()" class="button main-button headline-alt-21px">RSVP</button>
</div>

<div class="section about" id="about">

    <section class="about-content">
        <h2 class="headline-42px about-title primary-purple">About Us</h2>
        <h3 class="subtitle-24px about-subtitle dark-grey">Iris' Story</h3>
        <p class="body-18px primary-grey">
            I walked into math class and I saw my friend. I wanted to sit with her despite this Hawaiian shirt guy comfortably sitting there. I asked and waited patiently. He got up and went to a different spot. I couldn’t help but be moved by his kindness. I gratefully smiled at him as I took off my jacket.
        </p>

        <h3 class="subtitle-24px about-subtitle dark-grey">Russell's Story</h3>
        <p class="body-18px primary-grey">
            I walked into math class, sporting my Hawaiian attire with my hair sleekly parted in half, thinking I was the sh*t. I sat down in the first seat I saw. Then this small girl had the nerve to ask me to move so she can sit with her friend. I gave her my ‘are you for real look’. The tiny girl continued to stand there and stared at me. I unwillingly got up and gave her my seat. I sat in my new spot, salty…until she unzipped her neon yellow bubble jacket and smirked at me. And my day just got better...
        </p>
        <p class="body-18px primary-grey">With that, they started dating after high school. Days turned to weeks, then weeks to years. There were tears, laughter, disagreements, gas holding, but their infinite love for each other made them best friends. And here we are today, celebrating 12 years together with many more to come.</p>
    </section>
</div>

<div class="section gallery" id="gallery">
    
    <div class="gallery-container">

        <uib-carousel
                active="0"
                no-pause="true"
                interval="5000"
                no-wrap="false"
                template-url="scripts/angular-bootstrap-npm/dist/template/carousel/carousel.html">

            <uib-slide
                    ng-repeat="(index, photo) in photos"
                    index="index"
                    template-url="scripts/angular-bootstrap-npm/dist/template/carousel/slide.html">
                <div class="gallery-image" style="background-image: url({{ photo }})"></div>
            </uib-slide>

        </uib-carousel>
    </div>
</div>

<div class="section wedding-party" id="wedding-party">
    <div class="wedding-party-container">
        <h2>The Bridesmaids</h2>
        <div class="person-container container" layout="row" layout-wrap>
            <div class="person ivon" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Ivon Liu</h3>

                </div>
            </div>
            <div class="person roxana" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Roxana Liu</h3>

                </div>
            </div>
            <div class="person carly" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Carly Liu</h3>
                </div>
            </div>
            <div class="person helen" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Helen Liu</h3>

                </div>
            </div>
        </div>
    </div>

    <div class="wedding-party-container">
        <h2>The Groomsmen</h2>
        <div class="person-container container" layout="row" layout-wrap>


            <div class="person kevin" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Kevin Duong</h3>

                </div>
            </div>
            <div class="person calvin" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Calvin Chih</h3>

                </div>
            </div>
            <div class="person raymond" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Raymond Duong</h3>

                </div>
            </div>
            <div class="person simon" flex="50" flex-gt-sm="25">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Simon Tan</h3>

                </div>
            </div>

            <div class="person bernie" flex="100">
                <div class="person-photo">

                </div>
                <div class="person-name">
                    <h3>Bernie Trinh</h3>

                </div>
            </div>

        </div>
    </div>

</div>

<div class="section dayof" id="dayof">
    <div class="dayof-content">
        <h2 class="headline-32px about-title primary-purple">THE DAY OF</h2>
        <!--<h2 class="headline-48px about-title primary-purple"></h2>-->

        <div class="dayof-column col-sm-6">
            <h3 class="dayof-headline headline-alt-28px dark-grey">When</h3>
            <h4 class="dayof-headline-alt headline-alt-21px">May 13, 2017</h4>
            <p class="dayof-body body-18px">Wedding Ceremony: 5:30 PM</p>
            <p class="dayof-body body-18px">Cocktails: 6:00 PM</p>
            <p class="dayof-body body-18px">Reception: 7:00 PM</p>
        </div>
        <div class="dayof-column col-sm-6">
            <h3 class="dayof-headline headline-alt-28px dark-grey">Where</h3>
            <h4 class="dayof-headline-alt headline-alt-21px">Sassafraz</h4>
            <p class="dayof-body body-18px">100 Cumberland St.</p>
            <p class="dayof-body body-18px">Toronto, ON</p>
            <p class="dayof-body body-18px">M5R 1A6</p>
        </div>
    </div>
</div>

<div class="section getting-there">

    <div class="getting-there-content">

        <h2 class="headline-alt-28px opaque-white">Parking</h2>

        <p class="body-16px secondary-purple">Paid parking is available at:</p>
        <ul>
            <li class="body-16px secondary-purple"><a target="_blank" href="https://www.google.ca/maps/place/74+Yorkville+Ave,+Toronto,+ON+M5R+1B9/@43.6713307,-79.3934562,17z/data=!3m1!4b1!4m5!3m4!1s0x882b34af8225fecd:0xcf828c0a29f2cf7a!8m2!3d43.6713307!4d-79.3912622">74 Yorkville Ave. Toronto, ON M5R 1B9 (North-west corner of Bay St. and Yorkville Ave)</a></li>
            <li class="body-16px secondary-purple"><a target="_blank" href="https://www.google.ca/maps/place/37+Yorkville+Ave,+Toronto,+ON+M4W+1L2/@43.6713307,-79.3934562,17z/data=!4m5!3m4!1s0x882b34ae5528107d:0xcde66a7575757d87!8m2!3d43.6709493!4d-79.3887835">37 Yorkville Ave, Toronto, ON M4W 1L4 (North-east corner of Bay St and Cumberland St)</a></li>
            <li class="body-16px secondary-purple"><a target="_blank" href="https://www.google.ca/maps/place/10+Bellair+St,+Toronto,+ON+M5R+3T8/data=!4m2!3m1!1s0x882b34aff6c25311:0x5c1014bbb5db3bce?sa=X&ved=0ahUKEwjJmMy-w5zRAhXIx4MKHXQmBvQQ8gEIIjAB">10 Bellair St, Toronto, ON M5R 3T8 (North-west corner of Bellair St and Bloor St)</a></li>
        </ul>


        <h2 class="headline-alt-28px opaque-white">Accommodations</h2>

        <p class="body-16px secondary-purple">For those that would like to stay near the venue, an accommodation option is the <a target="_blank" href="https://toronto.park.hyatt.com/en/hotel/home.html">Park Hyatt Toronto</a>.</p>
        <p class="body-16px secondary-purple">An accommodation option close to family is the <a target="_blank" href="http://www3.hilton.com/en/hotels/ontario/hilton-toronto-markham-suites-conference-centre-and-spa-YYZAPHF/index.html">Hilton Toronto/Markham Suites Conference Centre & Spa</a></p>

        <a target="_blank" class="button getting-there-button headline-alt-18px light-purple" href="//www.google.ca/maps?q=sassafraz&ion=1&espv=2&bav=on.2,or.r_cp.&bvm=bv.131783435,d.dmo&biw=1267&bih=736&dpr=2&um=1&ie=UTF-8&sa=X&ved=0ahUKEwjbpv2e3YLPAhWIdh4KHW8jAQEQ_AUIBygC">
            View Map
        </a>

    </div>

</div>

<div class="section rsvp" id="rsvp">
    <div class="rsvp-content">
        <h3 class="headline-alt-24px opaque-white">We're so excited to celebrate with you</h3>
        <p class="body-21px opaque-white">Let us know if you're coming</p>
        <button ng-click="showRsvpForm()" class="button opaque-white rsvp-button headline-alt-21px">RSVP</button>
        <h2 class="headline-alt-28px opaque-white">#irisandrussell</h2>
    </div>
</div>
